* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
}

footer{
    background-color:#012340;
    margin-top: 150px;
    box-sizing:border-box;
}

.footer {
    background-color:#012340;
    padding:0;
    margin:0;
}

.footer-row{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}

  .footer .footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3.5rem;
    padding: 60px;
    background-color: transparent;
  }

  .footer-row .footer-col h4 {
    color:#04D9D9;
    font-family: "Konkhmer Sleokchher", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 38px;
    font-size: 1.2rem;
    font-weight: 400;
    background-color: transparent;
    padding:20px;
  }

  .footer-col .links {
    padding: 20px;
    background-color: transparent;
  }

  .footer-col .links li {
    list-style: none;
    padding-bottom: 10px;
  }

  .footer-col .links li a {
    text-decoration: none;
    font-family: "Karla", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 24px;
    color:#04D9D9;
  }

  .footer-col .links li a:hover {
    color: #fff;
  }

  .footer-col p {
    padding: 20px;
    padding-bottom: 58px;
    background-color:#012340;
    text-decoration: none;
    font-family: "Karla", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 24px;
    color:#04D9D9;
    max-width: 350px;
    text-align:left;
  }

  .footer-col form {
    display: flex;
    gap: 5px;
  }

  .footer-col input {
    height: 40px;
    border-radius: 6px;
    width: 100%;
    outline: none;
    border: 1px solid #7489C6 ;
    background-color: #fff;
    caret-color: #fff;
    color: black;
    padding-left: 10px;
  }

  .footer-col input::placeholder {
    color: #ccc;
  }
   .footer-col form button {
    background:#0477BF;
    padding: 5px 15px;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
    font-family: "Karla", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 20px;
    transition: 0.2s ease;
  }

  .footer-col form button:hover {
    background:#fff;
    color:#04D9D9;
  }
  
  @media (max-width: 768px) {
    .footer {
      position: relative;
      bottom: 0;
      left: 0;
      transform: none;
      width: 100%;
      border-radius: 0;
    }
    .footer .footer-row {
      padding: 10px;
      gap: 1rem;
    }
    .footer-col form {
      display: block;
    }
    .footer-col form :where(input, button) {
      width: 100%;
    }
    .footer-col form button {
      margin: 10px 0 0 0;
    }
  }

  .footer-col, 
  .footer-row, 
  .footer-col .links, 
  .footer-col p, 
  .footer-col form{
    background-color: inherit;
  }