* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
}

li, a, button {
    font-family: "Karla", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 24px;
    font-style: normal;
    color: #04D9D9;
    background-color: #012340;
}

 header {
    display: flex;
    Justify-content: space-between;
    position: fixed;
    align-items: center;
    padding: 30px 5%;
    height:100px;
    width: 100%;
    background-color: #012340;
    z-index: 1000;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
 }

.logo {
    cursor: pointer;
}

.nav__links {
    list-style: none;
    background-color: #012340;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover  {
    color: white;
}

button {
    border: 3px solid;
    border-color: #04D9D9;
    color: #04D9D9;
    border-radius: 5px;
    font-size: 24px;
    padding: 9px 25px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: #04D9D9;
    color: #012340;
}

a {
    text-decoration: none;
}