
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
}

li, a, button {
    font-family: "Karla", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 24px;
    font-style: normal;
    color: #04D9D9;
    background-color: #012340;
}

 header {
    display: flex;
    Justify-content: space-between;
    position: fixed;
    align-items: center;
    padding: 30px 5%;
    height:100px;
    width: 100%;
    background-color: #012340;
    z-index: 1000;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
 }

.logo {
    cursor: pointer;
}

.nav__links {
    list-style: none;
    background-color: #012340;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover  {
    color: white;
}

button {
    border: 3px solid;
    border-color: #04D9D9;
    color: #04D9D9;
    border-radius: 5px;
    font-size: 24px;
    padding: 9px 25px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

a:link {
    text-decoration: none;
}

button:hover {
    background-color: #04D9D9;
    color: #012340;
}

a {
    text-decoration: none;
}

.back-video{
    width: 100%;
}

.content {
    text-align: center;
    position: center;
    bottom: 0;
}

.content h1{
    font-family: "Konkhmer Sleokchher", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
    background-color: #012340;
    color: white;
    width: 866px;
    border: 15px solid #012340;;
    padding: 50px;
    margin: 20px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-70%);
}

.future-living-container {
    font-family: "Konkhmer Sleokchher", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
    background-color: #012340;
    color: white;
    width: 866px;
    border: 15px solid #012340;;
    padding: 25px;
    margin: 20px;
    border-radius: 10px;
    position: absolute;
    justify-content: center;
    top: 28%;
    left: 16%;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);

   /* transform:translate(-50%,-70%); */
}

.future-living-title {
    color: white;
    background-color:#012340;
    align-self: center;
    display:flex;
    justify-content:center;
    text-align: center;
    font-family: "Konkhmer Sleokchher", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
}

.search-container{
    background-color:#012340;
    border-color:#012340;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 70px;
    font: 24px Karla;
}

.search-form{
    border-radius: 30px;
    background-color: white;
   /* box-shadow: 0 4px 4px rgba(o, 0, 0, 0.25);*/
    display: flex;
    width: 434px;
    max-width: 100%;
    gap: 20px;
    justify-content: space-between;
    padding: 5px 7px 5px 27px;
}

.search-input{
    background: transparent;
    border: none;
    color: black;
    font-size: 16px;
    outline: none;
    width: 100%;
}

.search-text {
    margin: auto 0;
    border-color: transparent;
    height: 80%;
    width: 80%;
}

.search-button {
    display:flex;
    align-items: center;
    justify-content:center;
    border-radius: 30px;
    background-color:#0477BF;
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
    z-index: 10;
}

.search-button:hover{
    filter: invert(1) sepia(-1) saturate(600%) hue-rotate(175deg);
}

.search-icon {
    background:transparent;
    fill:#04D9D9;
    object-fit: contain;
    width:32px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.smart-home-title {
    color: #000;
    text-align: center;
    margin-top: 42px;
    font: 400 48px 'Konkhmer Sleokchher';
    padding-bottom: 40px;
}

.smart-home-title-emphasis {
    font-family: Kanit, sans-serif;
    font-size: 48px;
    font-weight: 600;
}

.column {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    text-align: center;
    display: grid;
    grid: auto-flow dense / repeat (2,50%);
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

.smarthomes-left,
.smarthomes-right,
.automatedsystems-left, .automatedsystems-right,
.safety-security-right, .safety-security-left,
.study-nursery-left, .study-nursery-right {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    display:flex;
    place-items: center;
    width: 50%;
    object-fit: cover;
}

.smarthomes-right h2, p, a {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.row h2 {
    color: #0477BF;
    font-family: "Konkhmer Sleokchher", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
}

.row p {
    color: black;
    font-family: "Karla", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 24px;
    font-style: normal;
    line-height: 60px;
    padding-left: 80px;
    padding-right: 80px;
    text-wrap:wrap;
}

.row a {
    background: transparent;
}

footer{
    background-color:#012340;
    margin-top: 150px;
    box-sizing:border-box;
}

.footer {
    background-color:#012340;
    padding:0;
    margin:0;
}

.footer-row{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}

/*.footer-all {
    position:absolute;
    bottom:0;
    left: 0;
    width:100%;
    min-height:100px;   
    background-color: #012340;
  }*/

  .footer .footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3.5rem;
    padding: 60px;
    background-color: transparent;
  }

  .footer-row .footer-col h4 {
    color:#04D9D9;
    font-family: "Konkhmer Sleokchher", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 38px;
    font-size: 1.2rem;
    font-weight: 400;
    background-color: transparent;
    padding:20px;
  }

  .footer-col .links {
    padding: 20px;
    background-color: transparent;
  }

  .footer-col .links li {
    list-style: none;
    padding-bottom: 10px;
  }

  .footer-col .links li a {
    text-decoration: none;
    font-family: "Karla", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 24px;
    color:#04D9D9;
  }

  .footer-col .links li a:hover {
    color: #fff;
  }

  .footer-col p {
    padding: 20px;
    padding-bottom: 58px;
    background-color:#012340;
    text-decoration: none;
    font-family: "Karla", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 24px;
    color:#04D9D9;
    max-width: 350px;
    text-align:left;
  }

  .footer-col form {
    display: flex;
    gap: 5px;
  }

  .footer-col input {
    height: 40px;
    border-radius: 6px;
    width: 100%;
    outline: none;
    border: 1px solid #7489C6 ;
    background-color: #fff;
    caret-color: #fff;
    color: black;
    padding-left: 10px;
  }

  .footer-col input::placeholder {
    color: #ccc;
  }
   .footer-col form button {
    background:#0477BF;
    padding: 5px 15px;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
    font-family: "Karla", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 20px;
    transition: 0.2s ease;
  }

  .footer-col form button:hover {
    background:#fff;
    color:#04D9D9;
  }
  
  @media (max-width: 768px) {
    .footer {
      position: relative;
      bottom: 0;
      left: 0;
      transform: none;
      width: 100%;
      border-radius: 0;
    }
    .footer .footer-row {
      padding: 10px;
      gap: 1rem;
    }
    .footer-col form {
      display: block;
    }
    .footer-col form :where(input, button) {
      width: 100%;
    }
    .footer-col form button {
      margin: 10px 0 0 0;
    }
  }

  .footer-col, 
  .footer-row, 
  .footer-col .links, 
  .footer-col p, 
  .footer-col form{
    background-color: inherit;
  }
